In [1]:
import requests
import pandas as pd
import plotly.graph_objects as go
import ipywidgets as widgets
import plotly.express as px
import numpy as np
import json
import math
pd.options.mode.chained_assignment = None  # default='warn'
from app_secrets import headers

base_url = 'https://voyages3-api.crc.rice.edu/'

In [2]:
#Get options to
## 1. validate existence of selected vars
## 2. retrieve datatypes and labels for later use
r = requests.options(base_url + 'voyage?hierarchical=False', headers=headers)
options_dict = r.json()

In [3]:
#options_dict

In [4]:
pivot_table_categorical_vars=[
 
 'voyage_itinerary__imp_broad_region_voyage_begin__broad_region',
 'voyage_itinerary__imp_region_voyage_begin__region',
 'voyage_itinerary__imp_port_voyage_begin__place',
 'voyage_itinerary__imp_principal_region_of_slave_purchase__region',
 'voyage_itinerary__imp_principal_place_of_slave_purchase__place',
 'voyage_itinerary__imp_principal_region_slave_dis__region',
 'voyage_itinerary__imp_broad_region_slave_dis__broad_region',
 'voyage_itinerary__imp_principal_port_slave_dis__place',
'voyage_dates__imp_arrival_at_port_of_dis_yyyy'
]

pivot_table_numerical_vars=[
 'voyage_dates__length_middle_passage_days',
 'voyage_slaves_numbers__imp_total_num_slaves_embarked',
 'voyage_slaves_numbers__imp_total_num_slaves_disembarked'
]

In [5]:
data={
    "voyage_itinerary__imp_principal_region_slave_dis__region":[
        "Barbados",
        "Jamaica"
    ],
    'groupby_fields':['voyage_itinerary__principal_port_of_slave_dis__place',
                      'voyage_itinerary__imp_principal_place_of_slave_purchase__place'],
    'value_field_tuple':['voyage_slaves_numbers__imp_total_num_slaves_disembarked','sum'],
    'cachename':['voyage_export']
}

In [6]:
headers

{'Authorization': 'Token 3e9ed2e0fa70a1a5cb6f34eb7a30ebde208ecd8f'}

In [7]:
url = base_url + 'voyage/groupby'
r = requests.post(url, headers=headers,data=data)
j = r.text
df = pd.read_json(j)
df

,Accra,"Africa., port unspecified",Alampo,Alecuba,Ambriz,"Americas, port unspecified",Andony,"Anguilla, port unspecified",Anomabu,"Antigua, port unspecified",...,"St. Vincent, port unspecified",Suriname,São Tomé,"Tortola, port unspecified","West Central Africa and St. Helena, port unspecified",Whydah,Wiamba,Windward + Ivory + Gold + Benin,Windward Coast (Nunez - Assini),"Windward Coast, port unspecified"
Annotto Bay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,190.0,214.0,NaN
Antonia,NaN,136.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,280.0,NaN,NaN,NaN,NaN,NaN
"Barbados, port unspecified",772.0,123480.0,136.0,NaN,928.0,1.0,102.0,NaN,10223.0,23.0,...,NaN,18.0,NaN,NaN,19580.0,30838.0,150.0,1856.0,2062.0,7867.0
Black River,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,440.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,154.0
"British Caribbean, colony unspecified",NaN,413.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Falmouth (Jam.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,240.0
"Jamaica, port unspecified",339.0,136699.0,452.0,NaN,NaN,NaN,NaN,NaN,27344.0,36.0,...,NaN,NaN,NaN,NaN,32720.0,31635.0,NaN,1340.0,208.0,6526.0
Kingston,1334.0,65669.0,NaN,535.0,4258.0,NaN,NaN,NaN,41049.0,35.0,...,NaN,NaN,463.0,NaN,49192.0,17759.0,NaN,270.0,1858.0,8776.0
Lucea (a) St. Lucea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,341.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159.0
Martha Brae,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Montego Bay,240.0,1693.0,NaN,NaN,NaN,NaN,NaN,NaN,3161.0,NaN,...,NaN,NaN,NaN,NaN,NaN,506.0,NaN,NaN,NaN,272.0
Morant Bay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Port Maria,NaN,200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Port Royal,NaN,2312.0,NaN,NaN,NaN,NaN,NaN,NaN,350.0,NaN,...,NaN,NaN,NaN,NaN,NaN,851.0,NaN,NaN,NaN,NaN
Saint Ann's Bay,NaN,195.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,149.0,NaN,NaN,NaN,NaN,NaN
Santa Marta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Savanna la Mar,NaN,1112.0,NaN,NaN,NaN,NaN,NaN,NaN,230.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Spanish Town,NaN,562.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,197.0
Veracruz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,280.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
West Indies (colony unspecified),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
colnamemap={i:options_dict[i]['label'] for i in options_dict}
df=pd.read_json(r.text)
df_formatted=df.rename(columns=colnamemap)
df_formatted

,Accra,"Africa., port unspecified",Alampo,Alecuba,Ambriz,"Americas, port unspecified",Andony,"Anguilla, port unspecified",Anomabu,"Antigua, port unspecified",...,"St. Vincent, port unspecified",Suriname,São Tomé,"Tortola, port unspecified","West Central Africa and St. Helena, port unspecified",Whydah,Wiamba,Windward + Ivory + Gold + Benin,Windward Coast (Nunez - Assini),"Windward Coast, port unspecified"
Annotto Bay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,190.0,214.0,NaN
Antonia,NaN,136.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,280.0,NaN,NaN,NaN,NaN,NaN
"Barbados, port unspecified",772.0,123480.0,136.0,NaN,928.0,1.0,102.0,NaN,10223.0,23.0,...,NaN,18.0,NaN,NaN,19580.0,30838.0,150.0,1856.0,2062.0,7867.0
Black River,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,440.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,154.0
"British Caribbean, colony unspecified",NaN,413.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Falmouth (Jam.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,240.0
"Jamaica, port unspecified",339.0,136699.0,452.0,NaN,NaN,NaN,NaN,NaN,27344.0,36.0,...,NaN,NaN,NaN,NaN,32720.0,31635.0,NaN,1340.0,208.0,6526.0
Kingston,1334.0,65669.0,NaN,535.0,4258.0,NaN,NaN,NaN,41049.0,35.0,...,NaN,NaN,463.0,NaN,49192.0,17759.0,NaN,270.0,1858.0,8776.0
Lucea (a) St. Lucea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,341.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159.0
Martha Brae,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Montego Bay,240.0,1693.0,NaN,NaN,NaN,NaN,NaN,NaN,3161.0,NaN,...,NaN,NaN,NaN,NaN,NaN,506.0,NaN,NaN,NaN,272.0
Morant Bay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Port Maria,NaN,200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Port Royal,NaN,2312.0,NaN,NaN,NaN,NaN,NaN,NaN,350.0,NaN,...,NaN,NaN,NaN,NaN,NaN,851.0,NaN,NaN,NaN,NaN
Saint Ann's Bay,NaN,195.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,149.0,NaN,NaN,NaN,NaN,NaN
Santa Marta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Savanna la Mar,NaN,1112.0,NaN,NaN,NaN,NaN,NaN,NaN,230.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Spanish Town,NaN,562.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,197.0
Veracruz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,280.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
West Indies (colony unspecified),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
colvar_options = [options_dict[i]['flatlabel'] for i in pivot_table_categorical_vars]

colvar_emb = widgets.Dropdown(
    options=colvar_options,
    description="Columns",
    disabled=False,
)
colvar_emb

Dropdown(description='Columns', options=('Itinerary : Imputed broad region where voyage began (DEPTREGIMP1) : …

In [10]:
rowvar_options = [options_dict[i]['flatlabel'] for i in pivot_table_categorical_vars]

rowvar_emb = widgets.Dropdown(
    options=rowvar_options,
    description="Rows",
    disabled=False,
)
rowvar_emb

Dropdown(description='Rows', options=('Itinerary : Imputed broad region where voyage began (DEPTREGIMP1) : Bro…

In [11]:
cellvar_options = [options_dict[i]['flatlabel'] for i in pivot_table_numerical_vars]

cellvar_emb = widgets.Dropdown(
    options=cellvar_options,
    description="Cells",
    disabled=False
)
cellvar_emb

Dropdown(description='Cells', options=('Dates : Length of Middle Passage in (days) (VOYAGE)', 'voyage slaves n…

In [12]:
dropnavar_emb = widgets.Checkbox(
    value=False,
    description="Drop Empty?",
    disabled=False
)
dropnavar_emb

Checkbox(value=False, description='Drop Empty?')

In [18]:
data={
    'groupby_fields':[pivot_table_categorical_vars[rowvar_options.index(rowvar_emb.value)],
                      pivot_table_categorical_vars[colvar_options.index(colvar_emb.value)]],
    'value_field_tuple':[pivot_table_numerical_vars[cellvar_options.index(cellvar_emb.value)],'sum'],
    'cachename':['voyage_pivot_tables']
}
data

{'groupby_fields': ['voyage_dates__imp_arrival_at_port_of_dis_yyyy',
  'voyage_itinerary__imp_broad_region_voyage_begin__broad_region'],
 'value_field_tuple': ['voyage_dates__length_middle_passage_days', 'sum'],
 'cachename': ['voyage_pivot_tables']}

In [14]:
url

'https://voyages3-api.crc.rice.edu/voyage/groupby'

In [19]:
r = requests.post(url, data = data, headers = headers)

In [20]:
df = pd.read_json(r.text,convert_axes=False)

In [21]:
df

,Africa,Brazil,Caribbean,Europe,Mainland North America,Other,Spanish Mainland Americas
1519.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1526.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1532.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1535.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1541.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1862.0,0.0,NaN,86.0,0.0,0.0,NaN,NaN
1863.0,NaN,NaN,0.0,25.0,0.0,NaN,NaN
1864.0,NaN,NaN,0.0,38.0,NaN,NaN,NaN
1865.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1866.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN

df.index.values
df.reset_index()

df.index

In [24]:
pd.to_numeric(df.index, downcast="integer")

Int64Index([1519, 1526, 1532, 1535, 1541, 1544, 1545, 1546, 1547, 1548,
            ...
            1857, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866],
           dtype='int64', length=316)

df['Year'] = pd.to_numeric(df.index, downcast="integer")

pd.to_numeric(df.index, downcast="integer")

In [25]:
df

,Africa,Brazil,Caribbean,Europe,Mainland North America,Other,Spanish Mainland Americas
1519.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1526.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1532.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1535.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1541.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1862.0,0.0,NaN,86.0,0.0,0.0,NaN,NaN
1863.0,NaN,NaN,0.0,25.0,0.0,NaN,NaN
1864.0,NaN,NaN,0.0,38.0,NaN,NaN,NaN
1865.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1866.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN

In [26]:
years=pd.to_numeric(df.index, downcast="integer")
minyear,maxyear=[years.min(),years.max()]
year_range_emb=widgets.IntRangeSlider(value=[minyear,maxyear],min=minyear,max=maxyear,description="Years:")
year_range_emb

IntRangeSlider(value=(1519, 1866), description='Years:', max=1866, min=1519)

In [33]:
import numpy as np

In [37]:
bins = np.floor((maxyear - minyear) / 10).astype(int)
print(bins)

34

In [38]:
df['Years'] = pd.cut(years, bins, right=False, precision=0)

In [44]:
df

,Africa,Brazil,Caribbean,Europe,Mainland North America,Other,Spanish Mainland Americas,Years
1519.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,"[1519.0, 1529.0)"
1526.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,"[1519.0, 1529.0)"
1532.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,"[1529.0, 1539.0)"
1535.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,"[1529.0, 1539.0)"
1541.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,"[1539.0, 1550.0)"
...,...,...,...,...,...,...,...,...
1862.0,0.0,NaN,86.0,0.0,0.0,NaN,NaN,"[1856.0, 1866.0)"
1863.0,NaN,NaN,0.0,25.0,0.0,NaN,NaN,"[1856.0, 1866.0)"
1864.0,NaN,NaN,0.0,38.0,NaN,NaN,NaN,"[1856.0, 1866.0)"
1865.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,"[1856.0, 1866.0)"
1866.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,"[1856.0, 1866.0)"

In [45]:
df.groupby('Years').sum()

,Africa,Brazil,Caribbean,Europe,Mainland North America,Other,Spanish Mainland Americas
Years,,,,,,,
"[1519.0, 1529.0)",0.0,0.0,0.0,0.0,0.0,0.0,0.0
"[1529.0, 1539.0)",0.0,0.0,0.0,0.0,0.0,0.0,0.0
"[1539.0, 1550.0)",0.0,0.0,0.0,0.0,0.0,0.0,0.0
"[1550.0, 1560.0)",0.0,0.0,0.0,0.0,0.0,0.0,0.0
"[1560.0, 1570.0)",0.0,0.0,0.0,34.0,0.0,0.0,0.0
"[1570.0, 1580.0)",0.0,0.0,0.0,0.0,0.0,0.0,0.0
"[1580.0, 1590.0)",0.0,0.0,0.0,0.0,0.0,0.0,0.0
"[1590.0, 1601.0)",0.0,0.0,0.0,0.0,0.0,0.0,0.0
"[1601.0, 1611.0)",0.0,0.0,0.0,0.0,0.0,0.0,0.0
"[1611.0, 1621.0)",0.0,0.0,0.0,0.0,0.0,0.0,0.0
"[1621.0, 1631.0)",0.0,0.0,0.0,0.0,0.0,0.0,0.0
"[1631.0, 1641.0)",0.0,0.0,0.0,0.0,0.0,0.0,0.0
"[1641.0, 1652.0)",0.0,0.0,0.0,0.0,0.0,0.0,0.0
"[1652.0, 1662.0)",0.0,0.0,0.0,0.0,0.0,0.0,0.0
"[1662.0, 1672.0)",0.0,0.0,0.0,0.0,0.0,0.0,0.0
"[1672.0, 1682.0)",0.0,0.0,0.0,344.0,0.0,0.0,0.0
"[1682.0, 1692.0)",0.0,0.0,0.0,1094.0,0.0,0.0,0.0
"[1692.0, 1703.0)",0.0,0.0,0.0,954.0,0.0,0.0,0.0
"[1703.0, 1713.0)",0.0,117.0,0.0,2550.0,0.0,0.0,0.0
"[1713.0, 1723.0)",125.0,35.0,73.0,12138.0,0.0,0.0,0.0
"[1723.0, 1733.0)",0.0,0.0,0.0,8463.0,0.0,0.0,0.0
"[1733.0, 1744.0)",0.0,0.0,0.0,7069.0,42.0,0.0,0.0
"[1744.0, 1754.0)",0.0,0.0,0.0,7633.0,50.0,0.0,0.0
"[1754.0, 1764.0)",0.0,0.0,0.0,4069.0,76.0,0.0,0.0
"[1764.0, 1774.0)",0.0,0.0,214.0,19180.0,95.0,0.0,0.0
"[1774.0, 1784.0)",0.0,2442.0,0.0,5375.0,68.0,0.0,0.0
"[1784.0, 1795.0)",25.0,5035.0,49.0,14501.0,0.0,0.0,0.0
"[1795.0, 1805.0)",0.0,6122.0,0.0,1199.0,772.0,0.0,0.0
"[1805.0, 1815.0)",139.0,15463.0,1227.0,2724.0,9642.0,0.0,0.0
"[1815.0, 1825.0)",0.0,29405.0,5573.0,1359.0,50.0,0.0,0.0
"[1825.0, 1835.0)",42.0,21634.0,1345.0,722.0,0.0,0.0,0.0
"[1835.0, 1846.0)",206.0,6693.0,1635.0,207.0,0.0,0.0,52.0
"[1846.0, 1856.0)",8.0,1757.0,56.0,0.0,176.0,0.0,35.0
"[1856.0, 1866.0)",0.0,0.0,453.0,123.0,395.0,0.0,0.0