In [1]:
import requests
import pandas as pd
import plotly.graph_objects as go
import ipywidgets as widgets
import plotly.express as px
import numpy as np
import json
import math
pd.options.mode.chained_assignment = None  # default='warn'
from app_secrets import headers

base_url = 'https://voyages3-api.crc.rice.edu/'

In [2]:
#Get options to
## 1. validate existence of selected vars
## 2. retrieve datatypes and labels for later use
r = requests.options(base_url + 'voyage?hierarchical=False', headers=headers)
options_dict = r.json()

In [3]:
#options_dict

In [4]:
pivot_table_categorical_vars=[
 
 'voyage_itinerary__imp_broad_region_voyage_begin__broad_region',
 'voyage_itinerary__imp_region_voyage_begin__region',
 'voyage_itinerary__imp_port_voyage_begin__place',
 'voyage_itinerary__imp_principal_region_of_slave_purchase__region',
 'voyage_itinerary__imp_principal_place_of_slave_purchase__place',
 'voyage_itinerary__imp_principal_region_slave_dis__region',
 'voyage_itinerary__imp_broad_region_slave_dis__broad_region',
 'voyage_itinerary__imp_principal_port_slave_dis__place',
'voyage_dates__imp_arrival_at_port_of_dis_yyyy'
]

pivot_table_numerical_vars=[
 'voyage_dates__length_middle_passage_days',
 'voyage_slaves_numbers__imp_total_num_slaves_embarked',
 'voyage_slaves_numbers__imp_total_num_slaves_disembarked'
]

In [5]:
data={
    "voyage_itinerary__imp_principal_region_slave_dis__region":[
        "Barbados",
        "Jamaica"
    ],
    'groupby_fields':['voyage_itinerary__principal_port_of_slave_dis__place',
                      'voyage_itinerary__imp_principal_place_of_slave_purchase__place'],
    'value_field_tuple':['voyage_slaves_numbers__imp_total_num_slaves_disembarked','sum'],
    'cachename':['voyage_export']
}

In [6]:
headers

{'Authorization': 'Token 3e9ed2e0fa70a1a5cb6f34eb7a30ebde208ecd8f'}

In [7]:
url = base_url + 'voyage/groupby'
r = requests.post(url, headers=headers,data=data)
j = r.text
df = pd.read_json(j)
df

,Accra,"Africa., port unspecified",Alampo,Alecuba,Ambriz,"Americas, port unspecified",Andony,"Anguilla, port unspecified",Anomabu,"Antigua, port unspecified",...,"St. Vincent, port unspecified",Suriname,São Tomé,"Tortola, port unspecified","West Central Africa and St. Helena, port unspecified",Whydah,Wiamba,Windward + Ivory + Gold + Benin,Windward Coast (Nunez - Assini),"Windward Coast, port unspecified"
Annotto Bay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,190.0,214.0,NaN
Antonia,NaN,136.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,280.0,NaN,NaN,NaN,NaN,NaN
"Barbados, port unspecified",772.0,123480.0,136.0,NaN,928.0,1.0,102.0,NaN,10223.0,23.0,...,NaN,18.0,NaN,NaN,19580.0,30838.0,150.0,1856.0,2062.0,7867.0
Black River,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,440.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,154.0
"British Caribbean, colony unspecified",NaN,413.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Falmouth (Jam.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,240.0
"Jamaica, port unspecified",339.0,136699.0,452.0,NaN,NaN,NaN,NaN,NaN,27344.0,36.0,...,NaN,NaN,NaN,NaN,32720.0,31635.0,NaN,1340.0,208.0,6526.0
Kingston,1334.0,65669.0,NaN,535.0,4258.0,NaN,NaN,NaN,41049.0,35.0,...,NaN,NaN,463.0,NaN,49192.0,17759.0,NaN,270.0,1858.0,8776.0
Lucea (a) St. Lucea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,341.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159.0
Martha Brae,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Montego Bay,240.0,1693.0,NaN,NaN,NaN,NaN,NaN,NaN,3161.0,NaN,...,NaN,NaN,NaN,NaN,NaN,506.0,NaN,NaN,NaN,272.0
Morant Bay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Port Maria,NaN,200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Port Royal,NaN,2312.0,NaN,NaN,NaN,NaN,NaN,NaN,350.0,NaN,...,NaN,NaN,NaN,NaN,NaN,851.0,NaN,NaN,NaN,NaN
Saint Ann's Bay,NaN,195.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,149.0,NaN,NaN,NaN,NaN,NaN
Santa Marta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Savanna la Mar,NaN,1112.0,NaN,NaN,NaN,NaN,NaN,NaN,230.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Spanish Town,NaN,562.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,197.0
Veracruz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,280.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
West Indies (colony unspecified),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
colnamemap={i:options_dict[i]['label'] for i in options_dict}
df=pd.read_json(r.text)
df_formatted=df.rename(columns=colnamemap)
df_formatted

,Accra,"Africa., port unspecified",Alampo,Alecuba,Ambriz,"Americas, port unspecified",Andony,"Anguilla, port unspecified",Anomabu,"Antigua, port unspecified",...,"St. Vincent, port unspecified",Suriname,São Tomé,"Tortola, port unspecified","West Central Africa and St. Helena, port unspecified",Whydah,Wiamba,Windward + Ivory + Gold + Benin,Windward Coast (Nunez - Assini),"Windward Coast, port unspecified"
Annotto Bay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,190.0,214.0,NaN
Antonia,NaN,136.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,280.0,NaN,NaN,NaN,NaN,NaN
"Barbados, port unspecified",772.0,123480.0,136.0,NaN,928.0,1.0,102.0,NaN,10223.0,23.0,...,NaN,18.0,NaN,NaN,19580.0,30838.0,150.0,1856.0,2062.0,7867.0
Black River,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,440.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,154.0
"British Caribbean, colony unspecified",NaN,413.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Falmouth (Jam.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,240.0
"Jamaica, port unspecified",339.0,136699.0,452.0,NaN,NaN,NaN,NaN,NaN,27344.0,36.0,...,NaN,NaN,NaN,NaN,32720.0,31635.0,NaN,1340.0,208.0,6526.0
Kingston,1334.0,65669.0,NaN,535.0,4258.0,NaN,NaN,NaN,41049.0,35.0,...,NaN,NaN,463.0,NaN,49192.0,17759.0,NaN,270.0,1858.0,8776.0
Lucea (a) St. Lucea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,341.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159.0
Martha Brae,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Montego Bay,240.0,1693.0,NaN,NaN,NaN,NaN,NaN,NaN,3161.0,NaN,...,NaN,NaN,NaN,NaN,NaN,506.0,NaN,NaN,NaN,272.0
Morant Bay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Port Maria,NaN,200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Port Royal,NaN,2312.0,NaN,NaN,NaN,NaN,NaN,NaN,350.0,NaN,...,NaN,NaN,NaN,NaN,NaN,851.0,NaN,NaN,NaN,NaN
Saint Ann's Bay,NaN,195.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,149.0,NaN,NaN,NaN,NaN,NaN
Santa Marta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Savanna la Mar,NaN,1112.0,NaN,NaN,NaN,NaN,NaN,NaN,230.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Spanish Town,NaN,562.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,197.0
Veracruz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,280.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
West Indies (colony unspecified),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
colvar_options = [options_dict[i]['flatlabel'] for i in pivot_table_categorical_vars]

colvar_emb = widgets.Dropdown(
    options=colvar_options,
    description="Columns",
    disabled=False,
)
colvar_emb

Dropdown(description='Columns', options=('Itinerary : Imputed broad region where voyage began (DEPTREGIMP1) : …

In [11]:
rowvar_options = [options_dict[i]['flatlabel'] for i in pivot_table_categorical_vars]

rowvar_emb = widgets.Dropdown(
    options=rowvar_options,
    description="Rows",
    disabled=False,
)
rowvar_emb

Dropdown(description='Rows', options=('Itinerary : Imputed broad region where voyage began (DEPTREGIMP1) : Bro…

In [12]:
cellvar_options = [options_dict[i]['flatlabel'] for i in pivot_table_numerical_vars]

cellvar_emb = widgets.Dropdown(
    options=cellvar_options,
    description="Cells",
    disabled=False
)
cellvar_emb

Dropdown(description='Cells', options=('Dates : Length of Middle Passage in (days) (VOYAGE)', 'voyage slaves n…

In [13]:
dropnavar_emb = widgets.Checkbox(
    value=False,
    description="Drop Empty?",
    disabled=False
)
dropnavar_emb

Checkbox(value=False, description='Drop Empty?')

In [19]:
data={
    'groupby_fields':[pivot_table_categorical_vars[rowvar_options.index(rowvar_emb.value)],
                      pivot_table_categorical_vars[colvar_options.index(colvar_emb.value)]],
    'value_field_tuple':[pivot_table_numerical_vars[cellvar_options.index(cellvar_emb.value)],'sum'],
    'cachename':['voyage_pivot_tables']
}
data

{'groupby_fields': ['voyage_dates__imp_arrival_at_port_of_dis_yyyy',
  'voyage_itinerary__imp_broad_region_voyage_begin__broad_region'],
 'value_field_tuple': ['voyage_slaves_numbers__imp_total_num_slaves_embarked',
  'sum'],
 'cachename': ['voyage_pivot_tables']}

In [15]:
url

'https://voyages3-api.crc.rice.edu/voyage/groupby'

In [20]:
r = requests.post(url, data = data, headers = headers)

In [54]:
df = pd.read_json(r.text)

In [55]:
df

,Africa,Brazil,Caribbean,Europe,Mainland North America,Other,Spanish Mainland Americas
1970-01-01 00:25:19,NaN,NaN,NaN,10.0,NaN,NaN,NaN
1970-01-01 00:25:26,NaN,NaN,NaN,300.0,NaN,NaN,NaN
1970-01-01 00:25:32,NaN,NaN,NaN,359.0,NaN,NaN,NaN
1970-01-01 00:25:35,NaN,NaN,NaN,359.0,NaN,NaN,NaN
1970-01-01 00:25:41,NaN,NaN,NaN,160.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1970-01-01 00:31:02,761.0,NaN,2803.0,0.0,0.0,NaN,NaN
1970-01-01 00:31:03,NaN,NaN,0.0,1693.0,473.0,NaN,NaN
1970-01-01 00:31:04,NaN,NaN,0.0,676.0,NaN,NaN,NaN
1970-01-01 00:31:05,NaN,NaN,NaN,1265.0,NaN,NaN,NaN
1970-01-01 00:31:06,NaN,NaN,NaN,0.0,NaN,NaN,NaN

In [56]:
df.index.values
df.reset_index()

,index,Africa,Brazil,Caribbean,Europe,Mainland North America,Other,Spanish Mainland Americas
0,1970-01-01 00:25:19,NaN,NaN,NaN,10.0,NaN,NaN,NaN
1,1970-01-01 00:25:26,NaN,NaN,NaN,300.0,NaN,NaN,NaN
2,1970-01-01 00:25:32,NaN,NaN,NaN,359.0,NaN,NaN,NaN
3,1970-01-01 00:25:35,NaN,NaN,NaN,359.0,NaN,NaN,NaN
4,1970-01-01 00:25:41,NaN,NaN,NaN,160.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
311,1970-01-01 00:31:02,761.0,NaN,2803.0,0.0,0.0,NaN,NaN
312,1970-01-01 00:31:03,NaN,NaN,0.0,1693.0,473.0,NaN,NaN
313,1970-01-01 00:31:04,NaN,NaN,0.0,676.0,NaN,NaN,NaN
314,1970-01-01 00:31:05,NaN,NaN,NaN,1265.0,NaN,NaN,NaN
315,1970-01-01 00:31:06,NaN,NaN,NaN,0.0,NaN,NaN,NaN

In [57]:
df.index

DatetimeIndex(['1970-01-01 00:25:19', '1970-01-01 00:25:26',
               '1970-01-01 00:25:32', '1970-01-01 00:25:35',
               '1970-01-01 00:25:41', '1970-01-01 00:25:44',
               '1970-01-01 00:25:45', '1970-01-01 00:25:46',
               '1970-01-01 00:25:47', '1970-01-01 00:25:48',
               ...
               '1970-01-01 00:30:57', '1970-01-01 00:30:58',
               '1970-01-01 00:30:59', '1970-01-01 00:31:00',
               '1970-01-01 00:31:01', '1970-01-01 00:31:02',
               '1970-01-01 00:31:03', '1970-01-01 00:31:04',
               '1970-01-01 00:31:05', '1970-01-01 00:31:06'],
              dtype='datetime64[ns]', length=316, freq=None)

In [58]:
pd.to_numeric(df.index, downcast="integer")

Int64Index([1519000000000, 1526000000000, 1532000000000, 1535000000000,
            1541000000000, 1544000000000, 1545000000000, 1546000000000,
            1547000000000, 1548000000000,
            ...
            1857000000000, 1858000000000, 1859000000000, 1860000000000,
            1861000000000, 1862000000000, 1863000000000, 1864000000000,
            1865000000000, 1866000000000],
           dtype='int64', length=316)

In [59]:
df['timestamp'] = pd.to_numeric(df.index, downcast="integer")

In [60]:
df

,Africa,Brazil,Caribbean,Europe,Mainland North America,Other,Spanish Mainland Americas,timestamp
1970-01-01 00:25:19,NaN,NaN,NaN,10.0,NaN,NaN,NaN,1519000000000
1970-01-01 00:25:26,NaN,NaN,NaN,300.0,NaN,NaN,NaN,1526000000000
1970-01-01 00:25:32,NaN,NaN,NaN,359.0,NaN,NaN,NaN,1532000000000
1970-01-01 00:25:35,NaN,NaN,NaN,359.0,NaN,NaN,NaN,1535000000000
1970-01-01 00:25:41,NaN,NaN,NaN,160.0,NaN,NaN,NaN,1541000000000
...,...,...,...,...,...,...,...,...
1970-01-01 00:31:02,761.0,NaN,2803.0,0.0,0.0,NaN,NaN,1862000000000
1970-01-01 00:31:03,NaN,NaN,0.0,1693.0,473.0,NaN,NaN,1863000000000
1970-01-01 00:31:04,NaN,NaN,0.0,676.0,NaN,NaN,NaN,1864000000000
1970-01-01 00:31:05,NaN,NaN,NaN,1265.0,NaN,NaN,NaN,1865000000000
1970-01-01 00:31:06,NaN,NaN,NaN,0.0,NaN,NaN,NaN,1866000000000

In [62]:
years=df.timestamp
minyear,maxyear=[years.min(),years.max()]
year_range_emb=widgets.IntRangeSlider(value=[minyear,maxyear],min=minyear,max=maxyear,description="Years:")
year_range_emb

IntRangeSlider(value=(1519000000000, 1866000000000), description='Years:', max=1866000000000, min=151900000000…

In [71]:
df['interval'] = pd.cut(df.timestamp, 20)

In [72]:
df

,Africa,Brazil,Caribbean,Europe,Mainland North America,Other,Spanish Mainland Americas,timestamp,interval
1970-01-01 00:25:19,NaN,NaN,NaN,10.0,NaN,NaN,NaN,1519000000000,"(1518653000000.0, 1536350000000.0]"
1970-01-01 00:25:26,NaN,NaN,NaN,300.0,NaN,NaN,NaN,1526000000000,"(1518653000000.0, 1536350000000.0]"
1970-01-01 00:25:32,NaN,NaN,NaN,359.0,NaN,NaN,NaN,1532000000000,"(1518653000000.0, 1536350000000.0]"
1970-01-01 00:25:35,NaN,NaN,NaN,359.0,NaN,NaN,NaN,1535000000000,"(1518653000000.0, 1536350000000.0]"
1970-01-01 00:25:41,NaN,NaN,NaN,160.0,NaN,NaN,NaN,1541000000000,"(1536350000000.0, 1553700000000.0]"
...,...,...,...,...,...,...,...,...,...
1970-01-01 00:31:02,761.0,NaN,2803.0,0.0,0.0,NaN,NaN,1862000000000,"(1848650000000.0, 1866000000000.0]"
1970-01-01 00:31:03,NaN,NaN,0.0,1693.0,473.0,NaN,NaN,1863000000000,"(1848650000000.0, 1866000000000.0]"
1970-01-01 00:31:04,NaN,NaN,0.0,676.0,NaN,NaN,NaN,1864000000000,"(1848650000000.0, 1866000000000.0]"
1970-01-01 00:31:05,NaN,NaN,NaN,1265.0,NaN,NaN,NaN,1865000000000,"(1848650000000.0, 1866000000000.0]"
1970-01-01 00:31:06,NaN,NaN,NaN,0.0,NaN,NaN,NaN,1866000000000,"(1848650000000.0, 1866000000000.0]"

In [73]:
df.groupby('interval').sum()

,Africa,Brazil,Caribbean,Europe,Mainland North America,Other,Spanish Mainland Americas,timestamp
interval,,,,,,,,
"(1518653000000.0, 1536350000000.0]",0.0,0.0,0.0,1028.0,0.0,0.0,0.0,6112000000000
"(1536350000000.0, 1553700000000.0]",0.0,0.0,107.0,22513.0,0.0,0.0,0.0,13922000000000
"(1553700000000.0, 1571050000000.0]",0.0,0.0,0.0,13559.0,0.0,0.0,0.0,18766000000000
"(1571050000000.0, 1588400000000.0]",3317.0,651.0,0.0,18316.0,0.0,0.0,359.0,23703000000000
"(1588400000000.0, 1605750000000.0]",16896.0,334.0,0.0,59947.0,0.0,0.0,0.0,27149000000000
"(1605750000000.0, 1623100000000.0]",1436.0,894.0,0.0,88080.0,0.0,0.0,335.0,25835000000000
"(1623100000000.0, 1640450000000.0]",1857.0,10450.0,0.0,96491.0,0.0,0.0,0.0,27744000000000
"(1640450000000.0, 1657800000000.0]",827.0,23938.0,2685.0,39345.0,954.0,0.0,1350.0,28033000000000
"(1657800000000.0, 1675150000000.0]",0.0,3700.0,3744.0,113137.0,150.0,0.0,0.0,29997000000000
"(1675150000000.0, 1692500000000.0]",0.0,26163.0,8177.0,198327.0,1542.0,110.0,0.0,28628000000000
"(1692500000000.0, 1709850000000.0]",0.0,104548.0,36456.0,258250.0,3451.0,142.0,0.0,28917000000000
"(1709850000000.0, 1727200000000.0]",818.0,222101.0,19566.0,453647.0,2046.0,679.0,0.0,30933000000000
"(1727200000000.0, 1744550000000.0]",1076.0,261035.0,6045.0,618396.0,19891.0,0.0,0.0,29512000000000
"(1744550000000.0, 1761900000000.0]",27.0,246717.0,6242.0,595686.0,26250.0,0.0,175.0,29801000000000
"(1761900000000.0, 1779250000000.0]",955.0,211565.0,12026.0,998139.0,51798.0,386.0,0.0,31869000000000
"(1779250000000.0, 1796600000000.0]",1873.0,274543.0,15902.0,881006.0,23369.0,620.0,1535.0,30396000000000
"(1796600000000.0, 1813950000000.0]",1526.0,510447.0,40088.0,539837.0,70456.0,819.0,3669.0,30685000000000
"(1813950000000.0, 1831300000000.0]",4920.0,881051.0,197625.0,172807.0,1261.0,307.0,0.0,32805000000000
"(1831300000000.0, 1848650000000.0]",6438.0,473837.0,152300.0,18493.0,1395.0,0.0,3121.0,31280000000000
"(1848650000000.0, 1866000000000.0]",3349.0,107503.0,39789.0,8326.0,38729.0,0.0,152.0,33435000000000